<h2>Users</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Rooms</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Floor</th>
            <th>Capacity</th>
        </tr>
        {% for room in rooms %}
        <tr>
            <td>{{ room.id }}</td>
            <td>{{ room.room_name }}</td>
            <td>{{ room.floor }}</td>
            <td>{{ room.capacity }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Bookings</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Room ID</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.id }}</td>
            <td>{{ booking.user_id }}</td>
            <td>{{ booking.room_id }}</td>
            <td>{{ booking.start_time }}</td>
            <td>{{ booking.end_time }}</td>
        </tr>
        {% endfor %}
    </table>